@model AdministrationTool.Web.Models.HomeViewModel

@{
    ViewBag.Title = "User Page";
}

<div class="jumbotron">
    <h1>Hello & welcome!</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Active Directory Users Management</h2>
        <p>This is a mock of an Active Directory user management tool. It is intended for demonstration purposes. The users are fictional.</p>
        <p class="alert alert-info">@Model.Message</p>
    </div>
</div>