@model AdministrationTool.Web.Models.HomeViewModel

@{
    ViewBag.Title = "User Page";
}

<div class="jumbotron">
    <h1>Hello & welcome!</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Active Directory Users Management</h2>
        <p>This is a mock of an Active Directory user management tool. It is intended for demonstration purposes. The users are fictional.</p>
        <p>@Html.ActionLink("It includes a RESTful API to access the user directory.", "Index", "Help", new { area = "" }, null)</p>
        <p><a href="https://github.com/ravenousbytes/CodeScenarioDemo" target="_blank">Here is the source code used to generate this website.</a></p>
        <p class="alert alert-info">@Model.Message</p>
        <p>Thank you for visiting!</p>
    </div>
</div>