@model IEnumerable<AdministrationTool.Web.Models.UserViewModel>
@using System.Web.UI.WebControls
@using AdministrationTool.Web.Models;

<div class="row">
    <div class="col-md-12">
        <h2>Organizational Chart</h2>
        <p>Coming soon ...</p>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>