@{
    ViewBag.Title = "IndexNg";
}

<div class="row">
    <div class="col-md-12">
        <h2>Organizational Chart</h2>
        <p>Coming soon ...</p>
    </div>
</div>

<div>
    <p>Try <a href="https://developers.google.com/chart/interactive/docs/gallery/orgchart" target="_blank">Google Organization Chart</a> with the user API.</p>
    <p>May need to create some functionality in the API. E.g.- IEnumerable&lt;User&gt; DirectReports of the user.</p>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>